/*Fonts and colors*/
body{
	background: rgb(240,240,240);
	color: rgb(20,20,20);
	font-family: 'Open Sans', sans-serif;
}
h1{
		font-family: 'Montserrat', sans-serif;
		font-size: 50px;
		color: #FF5607
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
a{
	text-decoration: none;
	color: blue;
}
a:hover{
	text-decoration: none;
	color: green;
}
/*Custom design*/
#banner{
	background-image: url("background.jpg");
	background-size: cover;
	padding: 150px 0;
	text-align: center;
	color: white;
}
#banner h1{
	color:white;
}
#banner p{
	color: white;
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
}
.card{
	padding: 50px;
	text-align: center;
}
#footer{
	background: black;
	color: white;
	font-size: 20px;
	padding: 20px;
}
.floated_img{
	float:left;
}







